.login-page {
  width: 400px;
  margin: auto;
  background-color: rgba(51, 51, 51, 0.7);
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.loginWrapper {
  background-image: url("https://i.imgur.com/SYJqBJN.jpg");
  background-size: cover;
}
.sign {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.form {
  position: relative;
  z-index: 1;

  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 5px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ed4545;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.7 ease;
  transition: all 0.7 ease;
  cursor: pointer;
  border-radius: 5px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #b50b0b;
}
.form a.signupButton {
  text-decoration: none;
  color: white;
  background-color: rgba(51, 51, 51, 0.3);
  outline: none;
  border: none;
  border-radius: 0.2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.3);
  font-weight: 500;
}

.form a.signupButton:hover {
  color: #111;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
