.movie-row {
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  overflow: hidden;
}

.movie-row-posters {
  margin-top: 20px;
  padding: 20px;
}

.movie-row-posters::-webkit-scrollbar {
  display: none;
}

.movie-row-poster {
  width: 250px;
  transition: transform 500ms;
  position: relative;
  flex: 1 1 0px;
  display: inline-block;
}

.movie-row-poster img {
  object-fit: contain;
  max-width: 100%;
  display: block;
}
.movie-row-postersr .movie-row-poster:focus,
.movie-row-posters .movie-row-poster:hover {
  transform: scale(1.5);
  z-index: 1;
}

.movie-row-poster:focus ~ .movie-row-poster,
.movie-row-poster:hover ~ .movie-row-poster {
  transform: translateX(25%);
}

.movie-row-poster:focus-within .movie-row-poster,
.movie-row-poster:hover .movie-row-poster {
  transform: translateX(-25%);
}
