.banner {
  height: 650px;
  color: white;
  object-fit: contain;
  margin-bottom: 20px;
}

.bannerContent {
  margin-left: 30px;
  padding-top: 140px;
  height: 300px;
}

.bannerHeading {
  margin-bottom: 10px;
}

.bannerDescription {
  width: 50rem;
  line-height: 1.1;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 450px;
  height: 100px;
}

.bannerButton {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.bannerButton:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.bannerFadeBottom {
  height: 220px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
