.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navBlack {
  background-color: #111;
}

.navLogo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
}

.navAvatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.userNav {
  position: fixed;
  right: 100px;
}

.userNav a {
  text-decoration: none;
}

.privateLinkNav {
  position: fixed;
  left: 200px;
}

.privateLinkNav a {
  text-decoration: none;
  color: white;
}

.navButton {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.3);
}
.navButton:hover {
  color: #111;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.is-active {
  font-weight: 900;
}
