* {
  margin: 0;
}

body {
  background-color: #111;
}
.app {
  background-color: #111;
}

hr.hr1 {
  margin: auto;
  width: 95%;
  border-top: 1px dashed red;
  color: black;
  background-color: black;
}

.app-container {
  height: 400px;
  color: white;
  object-fit: contain;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 20px;
}
